<div class="login-page">
  <div class="card">

    <div class="logo-circle">
      <img src="/logo.jpg" alt="logo">
    </div>

    <h1>E-Voting</h1>
    <p class="subtitle">Online Voting System</p>

    <h3>Login to Your Account</h3>
    <p class="hint">Please enter your credentials to continue.</p>

    <form (ngSubmit)="login()" autocomplete="on">

      <input
        type="text"
        placeholder="Username / Student ID"
        [(ngModel)]="username"
        name="username"
        autocomplete="name"
        [disabled]="loading"
      />

      <div class="password-field">
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          autocomplete="current-password"
          [disabled]="loading"
        />
        <span class="eye"></span>
      </div>

     <button type="submit" [disabled]="loading">

      <span *ngIf="!loading">
         Sign In
      </span>

    <span *ngIf="loading" class="loading-text">
    <span class="spinner"></span> Logging in...
  </span>

</button>
    </form>

    <div class="links">
      <span class="footer-text">©2026 USTP E-Voting System. All Rights Reserved.</span>
    </div>

  </div>
</div>